<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2><b>Mother Care &raquo; About me</b></h2>
    
  </div>

</div> <!-- /container -->