<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2><b>Welcome to Mother Care &raquo;</b></h2>
  </div>
  <div class="row">
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  		<h3><b>Welcome to Mother Care &raquo;</b></h3>
  	</div>
  	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  	</div>
  </div>

  <div class="row">
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  		<div class="thumbnail">
  			<h5 align="center">Care for your child &raquo;</h5>
  			<%= image_tag("child.png", :class =>"img-circle")%>

  		</div>
  	</div>
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  		<div class="thumbnail">
  			<h5 align="center">Care for your child &raquo;</h5>
  			<%= image_tag("shirt.png", :class =>"img-circle")%>

  		</div>
  	</div>
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  		<div class="thumbnail">
  			<h5 align="center">Care for your child &raquo;</h5>
  			<%= image_tag("brouse.png", :class =>"img-circle")%>

  		</div>
  	</div>
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  		<%= render :partial=> 'home/form' %>
  	</div>
  </div>

</div> <!-- /container -->